@import "../../../../node_modules/bootstrap/scss/bootstrap";

$status-colours: (
    success: $success,
    error: $danger,
    warning: $warning,
    info: $info
);

.toast {
    @each $type, $color in $status-colours {
        &.toast-#{$type} {
            border-left: 3px solid $color;
        }
    }
}