nav.tree {
    font-size: 0.875rem;

    ul {
        list-style: none;
    }

    li {
        cursor: pointer;

        &:hover {
            background-color: var(--color-bg-hover);
        }

        &.selected {
            background-color: var(--color-bg-selected);
        }

        &.disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }

        .directory {
            &.collapsed {
                .icon {
                    transform: rotate(90deg);
                }
            }

            .icon {
                margin-right: 0.5rem;
                transition: transform 0.2s ease-in-out;
            }
        }
    }
}