@use "sass:map";
@use "sass:list";

nav {
  &.tree {
    button {
      font-size: 0.85rem !important;
      padding: 0.25rem 0.35rem;
      text-decoration: unset;
      text-align: left;
      min-width: 100%;
      white-space: nowrap;
      color: var(--bs-gray-500);

      &:hover,
      &:focus {
        background-color: var(--bs-gray-800);
        color: var(--bs-gray-300);
      }

      &:active {
        background-color: var(--bs-gray-700) !important;
        color: var(--bs-gray-300) !important;
      }

      &.selected {
        background-color: var(--bs-gray-800);
        color: var(--bs-gray-300);
      }
    }

    ul {
      list-style: none;
      margin-left: 0.25rem;
      padding-left: 0.35rem;

      ul {
        border-left: 1px solid var(--bs-border-color-translucent);
      }
    }

    li {
      margin: 0.2rem 0;
    }
  }
}
